<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="com.example.SESummer.Dao.QuestionnaireSubmitDao" >
    <!-- 保存提交问卷记录-->
    <insert id="addQuestionnaireSubmit" parameterType="QuestionnaireSubmit">
        insert into questionnaire_submit (userid,questionnaireid,is_submit,submit_time)
        values (#{userID},#{questionnaireID},#{isSubmit},#{submitTime})
    </insert>
    <!-- 用户是否提交过问卷-->
    <select id="haveFinish" resultType="QuestionnaireSubmit">
        select *
        from questionnaire_submit
        where questionnaireid=#{questionnaireID} and userid=#{userID} and is_submit=1
    </select>
    <!-- 用户是否填过问卷-->
    <select id="haveFill" resultType="QuestionnaireSubmit">
        select *
        from questionnaire_submit
        where questionnaireid=#{questionnaireID} and userid=#{userID}
    </select>
    <!-- 设置用户考试题得分-->
    <insert id="setTestScoreRecord" parameterType="TestScoreRecord">
        insert into test_score_record(userid, score, question_contentid)
        values(#{userID},#{score},#{questionContentID})
    </insert>
    <!-- 获取考试题平均分-->
    <select id="getQuestionAverage" resultType="Double">
        select avg(score) from test_score_record where question_contentid=#{questionContentID}
    </select>
    <!-- 获取考试题总答题人数-->
    <select id="getQuestionTotal" resultType="Integer">
        select count(*)
        from test_score_record
        where question_contentid=#{questionContentID}
    </select>
    <!-- 获取考试题正确人数-->
    <select id="getRightCounts" resultType="Integer">
        select count(*)
        from test_score_record
        where score>0
    </select>
</mapper>