<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="com.example.SESummer.Dao.QuestionnaireDao" >
    <!-- 创建新问卷 -->
    <insert id="createQuestionnaire" parameterType="Questionnaire">
        insert into questionnaire(title,create_time,recycle_volume,kind,question_pwd,question_number,masterid)
        values(#{Title},#{CreateTime},#{RecycleVolume},#{Kind},#{QuestionPwd},0,#{UserID})
    </insert>
    <!-- 添加问题 -->
    <insert id="addQuestion" parameterType="QuestionnaireContent">
        insert into questionnaire_content(questionnaireid,question_kind,require_sig,question_content,question_option_number)
        values(#{QuestionnaireID},#{QuestionKind},#{RequireSig},#{QuestionContent},0)
    </insert>
    <!-- 设置选项 -->
    <insert id="setOptions">
        insert into question_option(questionnaireid,questionnaire_contentid,option_content,vote_volume)
        values(#{QuestionnaireID},#{QuestionID},#{OptionContent},#{VoteVolume})
    </insert>
</mapper>