<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="com.example.SESummer.Dao.QuestionnaireSubmitDao" >
    <!-- 保存提交问卷记录-->
    <insert id="addQuestionnaireSubmit" parameterType="QuestionnaireSubmit">
        insert into questionnaire_submit(userid,questionnaireid,is_submit)
        values(#{userID},#{questionnaireID},#{isSubmit})
    </insert>
</mapper>    