<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="com.example.SESummer.Dao.QuestionnaireDao" >
    <!-- 创建新问卷 -->
    <insert id="createQuestionnaire" parameterType="Questionnaire">
        insert into questionnaire(title,create_time,kind,question_pwd,masterid)
        values(#{title},#{createTime},#{kind},#{questionPwd},#{masterID})
    </insert>
    <!-- 添加问题 -->
    <insert id="addQuestion" parameterType="QuestionnaireContent">
        insert into questionnaire_content(questionnaireid,question_kind,require_sig,question_content)
        values(#{questionnaireID},#{questionKind},#{requireSig},#{questionContent})
    </insert>
    <!-- 设置选项 -->
    <insert id="setOptions" parameterType="QuestionOption">
        insert into question_option(questionnaire_contentid,option_content)
        values(#{questionnaireContentID},#{optionContent})
    </insert>
</mapper>