<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace ="com.example.SESummer.Dao.UserCompletionQuestionDao" >
    <!-- 检索用户是否回答过该填空题 -->
    <select id="getCompletionRecordByID" resultType="UserCompletionQuestion">
        select *
        from user_completion_question
        where userid = #{userID} and questionnaireid = #{questionnaireID} and question_contentid = #{questionContentID}
    </select>
    <!-- 添加用户填空题答题记录 -->
    <insert id="addCompletionRecord" parameterType="UserCompletionQuestion">
        insert into user_completion_question(userid,questionnaireid,question_contentid,completion_content)
        values (#{userID},#{questionnaireID},#{questionContentID},#{completionContent})
    </insert>
    <!-- 修改用户填空题答题记录 -->
    <update id="updateCompletionRecord" parameterType="UserCompletionQuestion">
        update user_completion_question
        set completion_content = #{completionContent}
        where userid = #{userID} and questionnaireid = #{questionnaireID} and question_contentid = #{questionContentID}
    </update>
    <!-- 判断填空题答案是否正确-->
    <select id="judgeCompletionScore" resultType="CompletionQuestion">
        select *
        from completion_question
        where question_contentid=#{questionContentID} and answer like '%${answer}%'
    </select>
    <!-- 删除用户填写该问卷的所有填空记录-->
    <delete id="delRecord" parameterType="UserCompletionQuestion">
        delete from user_completion_question
        where userid=#{userID} and questionnaireid=#{questionnaireID}
    </delete>
</mapper>